@media only screen and (max-width: 600px) {#main {margin-left: 0}}

body, html {
   height:100%;
   background-color: black;
   scroll-behavior: smooth;
}
.main {
  max-width: 1000px;
  margin: 3vh;
  padding: 20px;
  margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}
.main h4{
    text-align: center;
}
.main p{
    text-align: center;
}
.container{
  color:white;
  max-width: 960px;
  margin:0 auto;
  font-size:20px;
  padding:25px;
}
#about{
     display: -webkit-box;
    display: -moz-box;
    display: box;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.parallaxHomeContainer{
  height:100%;
  width:100%;
}

.homeParallax{
  background:url('../images/null_profile.png');
  background-attachment: fixed; 
      background-position: center;
    background-repeat: no-repeat;
    background-size: 750px 650px;
    height:100%;
    width:100%;
}
 .line{
width: 380px;
height: 3px;
border-bottom: 2px solid white;
position: absolute;
margin-top: -10px; 
}
@media screen and (max-width: 480px) {
  .homeParallax{
  background:url('../images/null_profile.png');
  background-attachment: fixed; 
      background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 350px;
    height:100%;
    width:100%;
  }
 .line{
width: 250px;
}
}

.parallax2{
  height:400px;
  background-size:cover;  
  opacity: 0.7;
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3), rgba(255,255,255,0.1)), url('../images/background.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
.parallaxAboutUs{
  height:950px;
  background-size:cover;  

  background: url('../images/background3.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
.parallax2 .w3-display-middle span{
  font-size:35px;
  color:#fff;
  font-weight: bold;
  opacity:0.7;
}
.w3-message-input{
  height:100px;
}
.w3-row{
  background-color: #04A777;
}
.w3-row .w3-quarter{
  color:white;
}
.w3-row2{
    background-color: #0d0d0d;
}
.parallaxAboutUs .w3-display-middle span{
font-size:35px;
  color:#fff;
  font-weight: bold;
  opacity:0.7;}

@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}


.csstransforms .cn-wrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  bottom: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.csstransforms .opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

.cn-button {
  border: none;
  background: none;
  color: #262626;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 1em;
  height: 3.5em;
  width: 3.5em;
  background-color: #fff;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #262626;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: #4d4d4d;
  background-color: hsla(0, 0%, 30%, 1);
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: #333333;
  background-color: hsla(0, 0%, 20%, 1);
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #808080;
  background-color: hsla(0, 0%, 50%, 1);
}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #808080;
  background-color: hsla(0, 0%, 50%, 1);
}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}
 

/* fallback */
.no-csstransforms .cn-button {
  display: none;
}

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  bottom: 0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border: 1px solid #ddd;
}

@media screen and (max-width:480px) {
  .csstransforms .cn-wrapper {
    font-size: .68em;
  }

  .cn-button {
    font-size: 1em;
  }

  .csstransforms .cn-wrapper li {
    font-size: 1.52em;
  }

  .parallaxAboutUs{
  height:650px;
  background-size:cover;  

  background: url('../images/background3.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
}

@media screen and (max-width:320px) {
  .no-csstransforms .cn-wrapper {
    width: 15.15px;
    margin-left: -7.5em;
  }

  .no-csstransforms .cn-wrapper li {
    height: 3em;
    width: 3em;
  }
}
.aboutUsText{
  text-align: left;
  font-size: 15px;
}

/* Home */
#tmHome {
  padding-top: 30px;
  padding-bottom: 68px;
}

.tm-home-left {
  max-width: 420px;
  width: 100%;
  margin-right: 185px;
}

.tm-home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-slogan {
  font-size: 2.1rem;
  margin-bottom: 30px;
}

.tm-home-hr {
  border-top-color: white;
  margin-bottom: 30px;
}

.tm-home-title {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.tm-home-text {
  margin-bottom: 47px;
}

.btn {
  border-radius: 0;
  padding: 13px 40px;
  font-size: 1.3rem;
}

.btn-primary {
  background-color: white;
  border: 0;  
  color: #3E3F40;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  background-color: #495057;
  outline: none;
  border: none;
}
@media (max-width: 767px) {
  .tm-home-container {
    flex-direction: column;
  }

  .tm-home-left {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

#tmHome h1{
  font-size:25px;
}



/**************** review_part css start ****************/
/* line 4, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_part .client_review_img {
  position: relative;
  padding-left: 70px;
  margin-top: 40px;
}

/* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_part .client_review_img img {
  max-width: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_single .client_review_text p {
  font-size: 16px;
  line-height: 28px;
  padding: 20px 28px;
  border: 1px solid #f6ede4;
  margin: 1px;
  position: relative;
  z-index: 1;
  border-radius:30px 30px 30px 30px;
}

/* line 26, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_single .client_review_text p:after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f6ede4;
  border-bottom-left-radius: 100px;
}

@media (max-width: 576px) {
  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 18, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text p {
    font-size: 16px;
  }
}

/* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_single .client_review_text h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  padding-top: 6px;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 576px) {
  /* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
  .review_part .client_review_single .client_review_text h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}

/* line 71, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .client_review_single .client_review_text h4 span {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #555555;
}

/* line 80, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .review_icon i {
  color: #ffb830;
}

/* line 86, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .center .client_review_text p {
  border: 1px solid #d6ad86;
}

/* line 88, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .center .client_review_text p:after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #d6ad86;
  border-bottom-left-radius: 100px;
}

/* line 101, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .owl-dots {
  text-align: center;
  margin-top: 75px;
}

/* line 104, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .owl-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f7efe7;
  margin: 5px;
}

/* line 111, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_review.scss */
.review_part .owl-dots .active {
  color: #d6ad86 !important;
}

/**************** blog part css start ****************/
@media (max-width: 576px) {
  /* line 3, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_item {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 3, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_item {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 3, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_item {
    margin-bottom: 20px;
  }
}

/* line 17, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_item:hover .single_blog_text {
  border: 1px solid transparent;
  box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
  background-color: #fff;
}

/* line 23, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_item:hover .btn_3 {
  color: #d6ad86;
}

/* line 25, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_item:hover .btn_3 a {
  color: #d6ad86;
}

/* line 28, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_item:hover .btn_3 img {
  transform: rotateX(-180deg);
  margin-bottom: 7px;
}

/* line 36, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_img img {
  width: 100%;
}

/* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_text {
  padding: 40px 30px;
  border: 1px solid #e7e7e7;
  border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text {
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text {
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 40, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text {
    padding: 25px 15px;
  }
}

/* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  /* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_item_section .single_blog_text h3 {
    font-size: 20px;
  }
}

/* line 79, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_item_section .single_blog_text .btn_3 {
  color: #2c3033;
  margin-top: 28px;
  text-transform: capitalize;
}

/* line 89, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text .date .date_item {
  color: #2c3033;
  font-size: 15px;
  margin-right: 19px;
}

/* line 93, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text .date .date_item span {
  color: #d6ad86;
}

/* line 98, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text h3 {
  font-size: 24px;
  color: #2c3033;
  line-height: 1.458;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* line 105, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text h3 a {
  color: #2c3033;
}

@media (max-width: 576px) {
  /* line 98, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_section .single_blog_text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 98, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
  .blog_section .single_blog_text h3 {
    font-size: 20px;
  }
}

/* line 121, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text .btn_3 {
  margin-top: 25px;
}

/* line 123, /Applications/MAMP/htdocs/palash/cl/july 2019/july/194 Restaurant/194 Restaurant html/sass/_blog_part.scss */
.blog_section .single_blog_text .btn_3 img {
  margin-bottom: 8px;
}


.parallax4{
  height:400px;
  background-size:cover;  
  background: url('../images/background4.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
.parallax4 .w3-display-middle span{
font-size:35px;
  color:#fff;
  font-weight: bold;
  opacity:0.7;}
  #myBtnContainer{
  text-align: center;
  margin: 2vh;
}
/* Create three equal columns that floats next to each other */
.column {
  padding: 10px;
  color: white;
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: black;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn2 {
  border-radius: 15px;
  padding-left: 8%;
  padding-right: 8%; 

  border: none;
  outline: none;

  background-color: white;
  cursor: pointer;
  border-color: #fff;
}

.btn2:hover {
  background-color: #ddd;
}

.btn2.active {
  background-color: #000;
  color: white;
  border-color: white; 
}

@media screen and (max-width:1000px) {
      .column {
      width: 50%;
    }
 }

@media screen and (max-width:680px) {
      .column {
      width: 100%;
    }
 }